*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
    padding: 0px;
    background-color:azure;
}
header{
    background-color: rgb(38, 38, 38);
    width: 100%;
    height: 130px;
    padding: 20px;
}
header img  {
    text-align: center;
    position: relative;
    top: 0px;
    left: 70px;
}


nav ul  li a {
    display:inline-block;
position: absolute;
top : 0px;
padding: 15px;
text-decoration: none;
color: #8c8c8c;

}

#first {
    position: relative;
    left: 400px;
    bottom: 80px;
    text-decoration: none;
    color: #a6a6a6;
    list-style: none;
}
#sec{
    position: relative;
    left: 550px;
    bottom: 80px;
    text-decoration: none;
    color: #a6a6a6;
    list-style: none;
}
#thrd{
    position: relative;
    left: 700px;
    bottom: 80px;
    text-decoration: none;
    color: #a6a6a6;
    list-style: none;
}
#fif{
    position: relative;
    left: 850px;
    bottom: 80px;
    text-decoration: none;
    color: #a6a6a6;
    list-style: none;
} 
#fimg{
    margin: 20px;
    text-align: center;
    margin-left: 130px;
}
img{
    margin: 5px;
    padding: 9px;
    text-align: center;
}
div{
    margin: 10px;
    margin-left: 126px;
}
#simg{
    margin: 10px;
    margin-left:126px;
}
p{
    width: 450px;
    height: 350px;
    overflow: scroll;
    position: relative;
    margin-left: 650px ;
    bottom: 420px;
}
button{
    position: relative;
    bottom: 410px;
    margin-left: 650px; 
    background-color: black;
    height: 40px;
    width: 150px;
    color: blanchedalmond;
}
footer{
    width: 100%;
    height: 130px;
   background-color: rgb(38, 38, 38);
}